/*CSS Documnet*/
/*Importing google font styles*/
@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');


.head2{
	font-style:italic;
	font-family: fantasy;
	text-align: center;
	color:#000;
	font-size:35px;
}
 .head22{
	font-style:bold;
	font-family: sans-serif;
	text-align: center;
	color:#0B4193;
	font-size:35px;
}



table {
    counter-reset: tableCount;     
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}

